// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint1200) {
        max-width: 1160px;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body Locked
body {
    font-family: "Gilroy";

    &.locked {
        overflow: hidden;
    }
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 110%;
    /* or 46px */

    letter-spacing: -0.03em;

    /* dark-blue */

    color: $primary;
}

.btn {
    padding: 15px 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* white */

    color: #FFFFFF;
    background: #398BFF;
    border-radius: 4px;

    &:hover {
        background: #256fd6;
        transition: .3s ease;
    }
}