// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1280;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'white';
$burgerActiveColor: 'white';
 

$secondary: #398BFF;
$primary:  #001731;
// Fonts
$fontMain: sans-serif;
$fontSecondary: '';
